:root {
    --image_url: "";
    --is_light: 0;
    --system_is_dark: 1;
    --warning_message: "You haven't installed 'default-dynamic.js' extension. Please follow instructions on the README page.";
}

div.ReactModalPortal:last-of-type::before {
    font-size: 30px;
    content: var(--warning_message);
}

@media (prefers-color-scheme: light) {
    :root {
        --system_is_dark: 0;
    }
}

/* remove left sidebar background */
.main-yourLibraryX-entryPoints,
.Root__nav-bar,
.main-rootlist-rootlistDividerGradient {
    background: unset;
}

/* h1-like titles */
h1,
.main-entityHeader-titleButton,
.main-entityHeader-title,
.main-shelf-title,
.TypeElement-canon-textBase-type {
    color: var(--spice-subtext) !important;
}

/* Remove Topbar background colour */
.main-topBar-background {
    --background-base: transparent !important;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
    box-shadow: 0 4px 20px #21212130;
}

/* animated equaliser/heart icons */
img.main-devicePicker-nowPlayingActiveIcon,
.control-button-heart svg,
.main-addButton-button,
.main-trackList-playingIcon,
.main-trackList-rowMarker img,
.main-trackList-rowHeartButton svg:not(.Svg-img-16-icon),
.main-actionBar-ActionBarRow > button:hover,
.main-nowPlayingView-contextItemInfo > button:hover,
.main-whatsNewFeed-actions > button:hover,
.main-trackCreditsModal-closeBtn > svg,
.x-settings-equalizerPanelCanvas {
    filter: var(--colormatrix);
}

/* translucid background cover */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.main-entityHeader-overlay,
.Root__globalNav {
    background-color: transparent;
}

.encore-dark-theme,
.encore-dark-theme .encore-base-set {
    --background-base: transparent;
}

#main {
    position: fixed;
}

#main::before,
.Root__top-container::before {
    content: "";
    background-image: var(--image_url);
    background-size: 100%;
    background-position: center center;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(10px);
    pointer-events: none;
    backface-visibility: hidden;
    transition: background-image linear 0.35s;
    opacity: calc(var(--is_light) * 0.05 + 0.2);
    z-index: 2;
    width: 200%;
    border-radius: 40%;
}

/* Animate background if option is on */
/* @container style(--spice-animation: #010101) {
    #main::before,
    .Root__top-container::before {
        will-change: transform;
        animation-duration: 45s;
        animation-name: rotate;
        animation-timing-function: steps(450);
        animation-iteration-count: infinite;
    }

    .Root__top-container::before {
        animation-delay: 10s;
    }
} */

#main::before {
    translate: -35%;
}

.Root__top-container::before {
    translate: 15%;
}

/* context menu */
.main-contextMenu-menu {
    border: 1px solid var(--spice-tab-active);
}

/* notification toaster */
.main-notificationBubbleContainer-NotificationBubbleContainer .main-notificationBubble-NotificationBubble {
    color: #ffffff;
    background-color: var(--spice-text);
}

.main-notificationBubbleContainer-NotificationBubbleContainer .TypeElement-balladBold-textBase-type {
    color: #ffffff;
}

/* lyrics */
.main-lyricsCinema-container,
.lyrics-lyrics-container,
.main-nowPlayingView-lyricsGradient {
    margin-top: unset;
    --lyrics-color-background: rgba(var(--spice-rgb-main), 0.5) !important;
    --lyrics-color-active: var(--spice-text) !important;
    --lyrics-color-inactive: var(--spice-main-elevated) !important;
    --lyrics-color-passed: rgba(var(--spice-rgb-subtext), 0.8) !important;
}

.main-nowPlayingView-sectionHeaderSpacing .main-nowPlayingView-lyricsTitle {
    color: var(--spice-text);
    min-height: 32px;
}

/* album year info */
.main-trackInfo-release {
    font-size: 0.6875rem;
    grid-row: 4;
    grid-column: 1 / 3;
}

/* fix discography buttons */
.encore-dark-theme .encore-inverted-light-set {
    --background-highlight: var(--spice-button-active);
}

/* highlight current playing song */
.main-trackList-active {
    background-color: rgba(var(--spice-rgb-selected-row), 0.2) !important;
}

/* new navbar interface */
.Root__globalNav .main-topBar-buddyFeed {
    color: var(--spice-selected-row);
}

.main-userWidget-box,
.main-globalNav-link-icon {
    background-color: transparent !important;
}

.search-searchCategory-carouselButton {
    background-color: var(--background-tinted-highlight);
}

/* bottom bar background */
.main-nowPlayingBar-nowPlayingBar {
    background-color: rgba(var(--spice-rgb-shadow), 0.5);
}

.main-nowPlayingBar-nowPlayingBar,
.main-nowPlayingBar-isAnonymous {
    border-radius: 8px;
}

/* Topbar text padding */
.main-entityHeader-topbarTitle {
    padding-left: 8px;
}

/* Tooltip cards */
.encore-announcement-set,
.encore-announcement-set button {
    color: white;
}

.tippy-box {
    color: var(--spice-text);
    border-color: var(--spice-text);
    background-color: var(--spice-shadow) !important;
}

.tippy-arrow {
    color: var(--spice-text);
}

/* verified badge */
.artist-artistVerifiedBadge-fillColor {
    background-color: var(--spice-main);
}

.artist-artistVerifiedBadge-badge {
    fill: var(--spice-button);
}

/* Remove blue outline in confirmation popup */
.main-confirmDialog-buttonContainer button:focus {
    outline: 5px auto white;
}

/* Playlist tips popup */
.StyledPopover-dialog-popover {
    --background-elevated-base: var(--spice-text) !important;
}

/* Playlist filter pills */
.ChipInnerComponent-selected-secondary {
    background: var(--essential-subdued) !important;
}

/* Adding border Radius to Navbar/topbar Container */
.main-topBar-container.main-topBar-withBackgroundBlur .main-topBar-background {
    border-radius: 8px;
}

.main-topBar-container {
    border-radius: 8px !important;
}

/* Remove weird gradient in right sidebar */
.main-nowPlayingView-contextItemInfo:before {
    background: none !important;
}

/* Tone done gradients */
.under-main-view,
[style*="background-color"]:not(.main-shelf-shelfGrid [style*="background-color"]) {
    opacity: .8;
}

/* Fix forced subdue */
[style*="--text-subdued"] {
    --text-subdued: var(--spice-subtext) !important;
}

/* Fix search cards text color */
.main-shelf-shelfGrid [style*="background-color"] {
    color: var(--spice-main);
}

/* Fix play button hover color */
.encore-dark-theme .encore-inverted-light-set,
.encore-dark-theme .encore-bright-accent-set {
    --background-highlight: var(--background-press) !important;
    --background-press: var(--spice-subtext) !important;
    --decorative-subdued: var(--spice-subtext) !important;
}

/* Fix avatar icon */
.main-userWidget-box {
    opacity: 1 !important;
}

/* Fix artist & album page gradient */
.main-view-container div[style*="background-base"] {
    --background-base: rgba(var(--spice-rgb-text), 0.1) !important;
    --background-base-min-contrast: rgba(var(--spice-rgb-text), 0.2) !important;
    --background-base-70: rgba(var(--spice-rgb-text), 0.2) !important;
}

/* smooth color transitions */
@property --spice-sidebar {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-main {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-text {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-subtext {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-button {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

@property --spice-player {
    syntax: "<color>";
    initial-value: magenta;
    inherits: true;
}

html {
    transition:
        --spice-sidebar 0.5s,
        --spice-main 0.5s,
        --spice-text 0.5s,
        --spice-subtext 0.5s,
        --spice-button 0.5s,
        --spice-player 0.5s;
}


/* Hide Add to playlist/miniplayer button on now playing */
button[aria-label="Add to playlist"][aria-checked],
button[aria-label="Open Miniplayer"]  {
    display: none !important;
}

/* Hide fullscreen button */
#main > div > div.Root__top-container > div.Root__now-playing-bar > aside > div > div.main-nowPlayingBar-right > div > button:nth-child(7) {
    display: none;
}

/* Main Player background */
#main > div > div.Root__top-container > div.Root__main-view{
    background-color: var(--background-tinted-highlight);
}

/* Remove border on topbar main player */
.main-topBar-container {
    border-radius: 0px !important;
}

/* Change color of header below topbar */
#main > div > div.Root__top-container > div.Root__main-view > div.main-view-container > div.main-view-container__scroll-node.ZjfaJlGQZ42nCWjD3FDm > div:nth-child(1) > div > main > section > div.playlist-playlist-playlistContent > div.main-useDropTarget-base.main-useDropTarget-track.main-useDropTarget-local.main-useDropTarget-episode.main-useDropTarget-album > div > div.Xo8dgIGCCWjHXWBoKhaV > div > div.main-trackList-trackListHeader.main-trackList-trackListHeaderStuck, #main > div > div.Root__top-container > div.Root__main-view > div.main-view-container > div.main-view-container__scroll-node.ZjfaJlGQZ42nCWjD3FDm > div:nth-child(1) > div > main > div.main-home-filterChipsContainer > div.mjZrvVI3CxfHJXu7y0Lg.fIvMht6B9HdROywMNJZ4.main-home-filterChipsSection, .main-topBar-background, #main > div > div.Root__top-container > div.Root__main-view > div.main-view-container > div.main-view-container__scroll-node.ZjfaJlGQZ42nCWjD3FDm > div:nth-child(1) > div > main > section > div:nth-child(4) > div.Xo8dgIGCCWjHXWBoKhaV > div > div.main-trackList-trackListHeader.main-trackList-trackListHeaderStuck, .main-home-filterChipsContainer{
    --background-base: transparent !important;
    background-color: var(--spice-main) !important;
}

/* Vertically center album art in now playing bar */
#main > div > div.Root__top-container > div.Root__now-playing-bar > footer > div > div.main-nowPlayingBar-left > div > div.main-coverSlotCollapsed-container.main-coverSlotCollapsed-navAltContainer > div > div {
    display: flex;
    align-items: center;
}

/* Add border radius to live right sideview */
#Desktop_PanelContainer_Id{
    border-radius: 8px;
}

/* Remove background from right view, scroll, no artist cover */
.main-nowPlayingView-section, .CvxzmyND_aGd2RR8ZoSr, .Rol5Gmuk1O2tMw7NMtxF, .os-scrollbar-handle {
    background-color:var(--spice-button);
}

/* Opacity for artist photo */
#Desktop_PanelContainer_Id > div > div.cZCuJDjrGA2QMXja_Sua.ZjfaJlGQZ42nCWjD3FDm > div:nth-child(1) > div > div > div.main-nowPlayingView-section.QR9JmVmX9LYwo62NRtew > button > div > div.Rol5Gmuk1O2tMw7NMtxF.zblh0cP5LieDz0Z7_3g3.vfJEDN5R3Sh1q8XvqC4g{
    opacity: .8;
}

/* Live viewer */
#Desktop_PanelContainer_Id > div > div.cZCuJDjrGA2QMXja_Sua.ZjfaJlGQZ42nCWjD3FDm > div:nth-child(1) > div > div > div.main-nowPlayingView-nowPlayingWidget > div > div.main-nowPlayingView-coverArtContainer.hjyiWzPtKHn_5kCe9vyg.pUIBQ9cykHKYx2A2ZIPA > div.E08D6ucrHuPJYzzGO7HG{
    height: 24.75em;
    overflow: hidden;
    border-radius: 8px;
    opacity: .6;
}

/* explicit lyrics icon */
.x-explicit-label {
    color: var(--decorative-base);
    background-color: var(--spice-button);
}

/* Live view adjustments */
.E08D6ucrHuPJYzzGO7HG::before, .E08D6ucrHuPJYzzGO7HG::after{
    display: none;
}
#Desktop_PanelContainer_Id > div > div.cZCuJDjrGA2QMXja_Sua.ZjfaJlGQZ42nCWjD3FDm > div:nth-child(1) > div > div > div.main-nowPlayingView-nowPlayingWidget > div > div.main-nowPlayingView-coverArtContainer.hjyiWzPtKHn_5kCe9vyg.pUIBQ9cykHKYx2A2ZIPA > div.E08D6ucrHuPJYzzGO7HG {
    opacity: .4;
}

/* add more space to right of volume dial */
.volume-bar__slider-container {
    margin-right: .5vw;
}

/* Lyric page reduce margin top */
.lyrics-lyrics-contentContainer {
    margin-top: 2vh;
}
.lyrics-lyricsContent-provider{
    display: none;
}

/* Override for queue/nowplaying opacity */
#queue-panel > div > div > div ul div li div {
    opacity: 1 !important;
}

/* Remove 3 dots in queue/tracklist when hovered (same as right click) */
div.Areas__InteractiveArea-sc-8gfrea-0.Areas__TrailingSlot-sc-8gfrea-7, .main-trackList-rowMoreButton{
  display: none !important;
}

/* Changes listRow hover color */
div[data-encore-id="listRow"] {
  --box-hover-background-color: rgba(var(--spice-rgb-selected-row), 0.1) !important;
}

.main-trackList-trackList.main-trackList-indexable[aria-colcount="3"] .main-trackList-trackListRowGrid {
    grid-template-columns: [index] var(--tracklist-index-column-width,16px) [first] minmax(290px,var(--col1,4fr)) [last] minmax(90px,var(--col2,1fr));
}

/* Artist page scroll animation*/
.dhq75ObRGjfBoBlz6clW{
    display: none;
}
.XUwMufC5NCgIyRMyGXLD{
    opacity: .4;
}

.Root__now-playing-bar{
    background-color: unset;
}


#search-dropdown > div {
    background-color: rgba(var(--spice-rgb-highlight), 0.9) !important;
}

.main-nowPlayingBar-nowPlayingBar,
.main-nowPlayingBar-isAnonymous {
    border-radius: 8px;
    background-color: rgba(var(--spice-rgb-highlight), 0.9) !important;
}

/* now playing about artist with no picture background */
.main-nowPlayingView-section > button,
.main-nowPlayingView-section > button > div > div:nth-child(2) {
  background-color: rgba(var(--spice-rgb-highlight), 0.9) !important;
}

.StyledTabItem-tab-tabItem-useBrowserDefaultFocusStyle:hover{
    background-color: rgba(var(--spice-rgb-selected-row),.1);
    border-radius: 8px;
}

/* canvas header background fix */
/* .ELBNLm3p55pH7fmnfdh7{
   position: inherit; 
  z-index: 10;
  background-image: none !important;
} */

button[aria-label="Create"] {
    background-color: rgba(var(--spice-rgb-selected-row), .1);
}

[data-testid="track-visual-enhancement"] + div::before {
    background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 100%
    ) !important;
}